:root {
    --gallery-item-width: 128px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #dfdfdf;
    background-color: #0d0d0d;
}

.header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24pt;
    font-weight: bold;
    background-color: #1d1d1d;
    margin-bottom: 16px;
    border-radius: 16px 16px 16px 16px;
    border: 1px solid #4d4d4d;
}

.gallery {
    width: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, var(--gallery-item-width));
    /* gap: 8px; */
}

.gallery-active-view {
    margin-block: 16px;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(var(--gallery-item-width) * 4);
}

.gallery-active-view img {
    height: 100%;
    object-fit: cover;
}

.gallery-member {
    width: var(--gallery-item-width);
    height: var(--gallery-item-width);
    display: flex;
}

.gallery-member img {
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery:has(div:hover) div:not(:hover) img {
    transform: scale(0.5);
    filter: grayscale(50%);
}

.gallery-member.chosen {
    border: 2px solid #4d4d4d;
}

.gallery-member.chosen img {
    transform: scale(0.5);
    filter: grayscale(50%);
}